/data/*
/cache/*

# Custom
*.idea
tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# Django stuff:
*.log

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-versio
