/data/base/*
/data/ambiguous/*

/output/*
/log/*
/glove/*

/ppdb/*.txt

# Custom
*.idea
tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Django stuff:
*.log

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version